<h4 >Personajes</h4>
<ul class="list-group">
  <li *ngFor="
  let charater of CharaterList;
  let i =index;
  let isFirst=first;
  let isLats=last;
  let isEven=even;
  let isOdd=odd;
  "
  class="list-group-item d-flex justify-content-between align-items-center"
  [ngClass]="{
    'list-group-item-dark': isLats,
    'list-group-item-primary': isEven
}"
  >
<div>
  <span class="text-primary" > {{i + 1}} </span>
 <span> {{charater.name }}</span>
 <strong> -power </strong>
<span> {{charater.power }}</span>
</div>


<button (click)="ondileteCharater(charater.id )" class="btn btn-danger">X</button>
</li>
</ul>
